#root{
    height: 100%;
}

.logout-btn{
    margin-left: 55rem;
}
nav a{
    padding: 1rem;
}

.userInfo-section{
    text-align: center;
    padding: 10px;
}
.username-title{
    font-weight: 800;
    font-size: 3rem;
}
.user-img{
    border-radius: 50%;
    width: 20rem;
    box-shadow: -8px -8px 8px 2px rgb(83, 83, 83);
}
.user-email{
    font-weight: 600;
    font-size: 1.5rem;
}

.cardBook{
    background-image: url('https://img.freepik.com/free-vector/white-abstract-background_23-2148810113.jpg?size=626&ext=jpg&ga=GA1.2.1423500572.1621641600');
    background-repeat: no-repeat;
    background-size:cover;
    padding: 15px;
    margin: 2rem;
    font-family: cursive;
}
.cardBook .card-title{
    font-size: 2rem;
}